# Virtual environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VS Code settings
.vscode/

# Mac system files
.DS_Store